footer.footer{
    height: 850px;
    width: 100%;
    background: url(../images/myfooter.jpg);
    background-attachment: fixed;
    background-position: 0 0;;

    div.containerFooter{
        width: 100%;
        height: 100%;
        background: rgba(1, 190, 231 , 0.5);
        // color: rgb(23, 200, 206)
        @include flex;
        flex-flow: column;

        h1{
            text-shadow: 1px 1px 0px white;
        }
        div.address{
            width: 70%;
            height: 400px;
            @include flex;
            flex-flow: column;
            justify-content: space-evenly;
            color: black;
            
            p{
                width: 300px;
                text-align: center;
                text-shadow: 0px 0px 5px white;
            }
            

        }
        div.copyright{
            width: 70%;
            height: 300px;
            border-top: 2px solid black;
            @include flex;
            flex-flow: column wrap;
            color:black;
            justify-content: space-around;
            align-items: center;
            padding-top: 50px;

            ul{
                li{
                    display: inline-block;
                    
                    margin-left: 60px;
                    i{
                        font-size: 30px;
                        padding: 20px;
                        background: black;
                        color: $mainColor;
                        border-radius: 100%;
                        margin-bottom: 20px;
                        transition: all .5s;  

                        &:hover{
                            background: $secondColor;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
            
            

        }
    }
}

@media(max-width: 760px){
    footer.footer{
    height: 500px;
    width: 100%;
    background: url(../images/myfooter.jpg);
    background-attachment: fixed;

    div.containerFooter{
        width: 100%;
        height: 100%;
        background: rgba(19, 67, 104, 0.883);
        @include flex;
        flex-flow: column;
        h1{
            text-shadow: none;
        }
        div.address{
            width: 70%;
            height: 400px;
            @include flex;
            flex-flow: column;
            justify-content: space-evenly;
            color: white;
            
            p{
                width: 300px;
                text-align: center;
                text-shadow: none;
            }
            

        }
        div.copyright{
            width: 70%;
            min-height: 100px;
            border-top: 2px solid white;
            @include flex;
            flex-flow: column wrap;
            color:white;
            justify-content: center;
            align-items: center;
            padding-top: 50px;

            ul{
                display: none;
                li{
                    display: inline-block;
                    
                    margin-left: 30px;
                    i{
                        font-size: 20px;
                        padding: 10px;
                        background: white;
                        color: $secondColor;
                        border-radius: 100%;
                        margin-bottom: 20px;
                        transition: all .5s;  

                        &:hover{
                            background: $secondColor;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
            
            

        }
    }
}

}

