// for pc
@media (min-width: 1020px) {
  nav.lowerNav {
    width: 100%;
    @include flex;
    height: 120px;
    transition:.5s;
    border: none;
    z-index: 100000000;
    

    div.LnavContainer{
        height: 100%;
        width: 90%;
        min-width: 950px;
        @include flex;
        justify-content: space-between;

        ul{

          li{
            display: inline-block;
            margin-left: 90px;
            a.link{
              color: black;
              font-size: 22px;
              transition: .5s;
              padding-bottom: 10px;
              border: none;

              &:hover{
                color: $secondColor;
                border-bottom: 1px solid $secondColor;
              }
            }
          }
        }

    }
  }
}
// for tab
@media (min-width: 760px) and (max-width: 1020px) {
  nav.lowerNav {
    width: 100%;
    height: 120px;
    @include flex;
    transition:.5s;

    div.LnavContainer{
        height: 100%;
        width: 60%;
        min-width: 750px;
        @include flex;
        justify-content: space-between;

        ul{

          li{
            display: inline-block;
            margin-left: 60px;
            a.link{
              color: black;
              font-size: 21px;
              transition: .5s;
              padding-bottom: 10px;
              border: none;

              &:hover{
                color: $secondColor;
                border-bottom: 1px solid $secondColor;
              }
            }
          }
        }

    }
  }
}
// for mob
@media (max-width: 760px) {
  nav.lowerNav{
    display: none;
  }
}
